*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

section.img{
    height: 100%;
    width: 100%;
    background-image: url("img/paisagem.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
}

h1{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50pt;
    font-family: cursive;
    font-weight: bold;
}

.overlay:hover{
    opacity: 0.5;
}