*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c2c2c2;
}

.skills{
    width: 500px;
    padding: 40px;
    border-radius: 20px;
    background-color: #c2c2c2;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.49);
}

.skills ul{
    list-style: none;
}

.skills ul li{
    margin: 20px 0;
}

.skills .barras{
    background-color: #ccc;
    display: block;
    height: 20px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.barras > span{
    height: 20px;
    background: linear-gradient(to right, #fe4701, #ff0054);
    position: absolute;
   
}

.html{
    width: 70%;
    animation: html 3s;
}

.css{
    width: 30%;
    animation: css 3s;
}

.java{
    width: 80%;
    animation: java 3s;
}

.php{
    width: 65%;
    animation: php 3s;
}

.javascript{
    width: 20%;
    animation: javascript 3s;
}

@keyframes html{
    0%{
        width: 0%;
    }

    100%{
        width: 70%;
    }
}

@keyframes java{
    0%{
        width: 0%;
    }

    100%{
        width: 80%;
    }
}

@keyframes php{
    0%{
        width: 0%;
    }

    100%{
        width: 65%;
    }
}

@keyframes css{
    0%{
        width: 0%;
    }

    100%{
        width: 30%;
    }
}

@keyframes javascript{
    0%{
        width: 0%;
    }

    100%{
        width: 20%;
    }
}

